@import "https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap";
@font-face {
  font-family: "SohneSchmal";
  src: url("./assets/SohneSchmal-Dreiviertelfett-f59c9bce.woff2");
}
* {
  padding: 0;
  margin: 0;
}
#dakuanger {
  display: none !important;
}
.ymainhy .apexcharts-legend-text {
  color: rgb(17, 11, 11) !important;
}
.apexcharts-legend-text {
  color: #fff !important;
}
html {
  scroll-behavior: smooth;
  font-family: Oxanium, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background: rgb(7, 8, 8);
}
.anxs {
  display: none !important;
}
.uYscM {
  z-index: 1000 !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jus {
  justify-content: space-between;
}
.flexcol {
  flex-direction: column;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input {
  outline: none;
}

ul {
  list-style: none;
}
button {
  border: none;
}
@media (max-width: 1250px) {
  #app {
    width: 100%;
    overflow: hidden;
  }
}
